{% extends 'base.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block robots %}noindex{% endblock %}

{% block body %}
    <h1 class="mb-4">Impressum</h1>
    <div class="d-inline-flex">
        <table class="table table-sm">
            <tbody>
            <tr>
                <th></th>
                <td>Pierre Schmitz</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>Saarstr. 1<br/>
                    53175 Bonn<br/>
                    Germany
                </td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>+49 228 9716608</td>
            </tr>
            <tr>
                <th>E-Mail</th>
                <td><a href="mailto:pierre@archlinux.de">pierre@archlinux.de</a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
