.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid $primary;
  border-top: 0;
  background: $white;

  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.autocomplete-suggestion {
  position: relative;
  padding: 0 0.6em;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: $body-color;
}

.autocomplete-suggestion b {
  font-weight: bolder;
  color: $primary;
}

.autocomplete-suggestion.selected b {
  color: $white;
}

.autocomplete-suggestion.selected {
  background: $primary;
  color: $white;
}
