$primary: #08c;
$secondary: #333;
$dark: $secondary;
$light: #f6f9fc;

$enable-rounded: false;
$enable-print-styles: false;

$body-bg: $light;
$body-color: $dark;
$link-hover-color: #666;
$navbar-dark-hover-color: #fff;
$jumbotron-bg: #ecf2f5;
$font-size-base: 0.875rem;
$navbar-brand-padding-y: 0.14rem;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.15rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;
$font-family-sans-serif: sans-serif;
$font-family-monospace: monospace;

@import "~bootstrap/scss/bootstrap";

.navbar-border-brand {
  border-bottom: 0.313rem solid $primary;
}
