{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/packages.js') }}"></script>
{% endblock %}

{% block title %}Paket-Suche{% endblock %}

{% block canonical %}{{ absolute_url(path(
    'app_packages_index',
    {
        'search': search,
        'architecture': architecture == defaultArchitecture ? null : architecture,
        'repository': repository
    }
)) }}{% endblock %}

{% block body %}
    <h1 class="mb-4">Paket-Suche</h1>
    <table id="packages" class="invisible table table-striped table-bordered table-sm" width="100%" cellspacing="0"
           data-ajax="{{ path('app_packages_datatables') }}"
           data-search-cols='[{"search": "{{ repository }}"}, null, {"search": "{{ architecture }}"}, null, null, null, null, null]'
           data-search='{"search": "{{ search }}"}'
           data-package-url-template="{{ path('app_packagedetails_index', {'repo': '_repository_', 'arch': '_architecture_', 'pkgname': '_package_'}) }}"
           data-repository-url-template="{{ path('app_packages_index', {'repository': '_repository_', 'architecture': architecture, 'search': search}) }}"
           data-records-total="{{ datatablesResponse.recordsTotal }}"
           data-records-filtered="{{ datatablesResponse.recordsFiltered }}">
        <thead>
        <tr>
            <th>Repositorium</th>
            <th class="d-none">Repositorium-Architektur</th>
            <th>Architektur</th>
            <th>Name</th>
            <th>Version</th>
            <th>Beschreibung</th>
            <th>Aktualisierung</th>
            <th class="d-none">Gruppen</th>
        </tr>
        </thead>
        <tbody>
        {# @var package \App\Entity\Packages\Package #}
        {% for package in datatablesResponse.data %}
            <tr>
                <td>{{ package.jsonSerialize.repository.name }}</td>
                <td class="d-none">{{ package.jsonSerialize.repository.architecture }}</td>
                <td>{{ package.jsonSerialize.architecture }}</td>
                <td>{{ package.jsonSerialize.name }}</td>
                <td>{{ package.jsonSerialize.version }}</td>
                <td>{{ package.jsonSerialize.description }}</td>
                <td>{{ package.jsonSerialize.builddate }}</td>
                <td class="d-none">{{ package.jsonSerialize.groups|json_encode() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
